{% extends "app1/master.html" %}

{% load static %}

{% block titulo %}

<h1> Mensajeria </h1>

<p>
    <button>
        <a href= "{% url 'mensaje_crear' %}" > Redactar nuevo mensaje</a>
    </button>
</p>

{% endblock %}


{% block contenidoquecambia %}

{% for mensajes in mensajes %}
    <li>
            <!-- Main Content-->
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <!-- Post preview-->
                        <div class="post-preview">
                            
                                <h4 class="post-title"> Mensaje enviado por : "{{ mensajes.emisor}}" </h4>
                                <h3 class="post-subtitle"> {{ mensajes.contenido}}</h3>
                            </a>
                            <p class="post-meta">
                                <a href="#!"></a>
                                <h3 class="post-subtitle"> </h3>

                                    {% if request.user.is_authenticated %}
                                    <button>
                                        <a href= "{% url 'mensaje_editar' mensajes.id %}" > Editar</a>
                                    </button>
                                    <button>
                                        <a href= "{% url 'mensaje_borrar' mensajes.id %}" > Eliminar</a>
                                    </button>

                                    {% endif %}
    </li>

{% endfor %}

{% endblock %}
